{:duct.profile/base
 {:duct.core/project-ns graphql-server

  :graphql-server/auth
  {:code-cache-expire #duct/env ["CODE_CACHE_EXPIRE" Int :or 600000]
   :token-cache-expire #duct/env ["TOKEN_CACHE_EXPIRE" Int :or 600000]
   :refresh-token-cache-expire #duct/env ["REFRESH_TOKEN_CACHE_EXPIRE" Int :or 600000]}

  :graphql-server/channel {}

  :duct.server/pedestal {:service #ig/ref :graphql-server.lacinia/service}
  :duct.migrator/datomic {:schema #ig/ref :graphql-server.datomic/schema}

  :graphql-server/hodur {:schema #duct/include "graphql_server/schema"}
  :graphql-server.datomic/schema {:meta-db #ig/ref :graphql-server/hodur}
  :graphql-server.lacinia/schema {:meta-db #ig/ref :graphql-server/hodur}
  :graphql-server/spec {:meta-db #ig/ref :graphql-server/hodur}

  :graphql-server.lacinia/service
  {:graphiql true
   :port #duct/env ["PORT" Int :or 8080]
   :subscriptions true
   :init-context #ig/ref :graphql-server.handler.auth/ws-init-context

   :optional-interceptors [#ig/ref :graphql-server.interceptor/auth]
   :optional-subscription-interceptors [#ig/ref :graphql-server.interceptor/ws-auth]
   :optional-routes
   [["/login"      :get  [#ig/ref :graphql-server.handler.auth/login-page] :route-name :login-page]
    ["/login"      :post [#ig/ref :graphql-server.interceptor/body-params
                          #ig/ref :graphql-server.handler.auth/login] :route-name :login]
    ["/token"      :post [#ig/ref :graphql-server.handler.auth/token] :route-name :token]
    ["/introspect" :get  [#ig/ref :graphql-server.handler.auth/introspect] :route-name :introspect]
    ["/graphql"    :options [#ig/ref :graphql-server.handler.cors/preflight] :route-name :preflight]]

   :schema #ig/ref :graphql-server.lacinia/schema
   :resolvers {:get-rikishi #ig/ref :graphql-server.handler.resolver/get-rikishi
               :rikishi-sumobeya #ig/ref :graphql-server.handler.resolver/rikishi-sumobeya
               :sumobeya-rikishis #ig/ref :graphql-server.handler.resolver/sumobeya-rikishis
               :get-sumobeya #ig/ref :graphql-server.handler.resolver/get-sumobeya
               :get-rikishi-by-shikona  #ig/ref :graphql-server.handler.resolver/get-rikishi-by-shikona
               :create-rikishi #ig/ref :graphql-server.handler.resolver/create-rikishi}
   :streamers {:stream-torikumis #ig/ref :graphql-server.handler.streamer/stream-torikumis}}

  :graphql-server.interceptor/body-params {}
  :graphql-server.interceptor/auth {:auth #ig/ref :graphql-server/auth}
  :graphql-server.interceptor/ws-auth {:auth #ig/ref :graphql-server/auth}
  :graphql-server.interceptor/check-context {}
  :graphql-server.interceptor/cors {}

  :graphql-server.handler.auth/login-page {}
  :graphql-server.handler.auth/login {:auth #ig/ref :graphql-server/auth :db #ig/ref :duct.database/datomic}
  :graphql-server.handler.auth/token {:auth #ig/ref :graphql-server/auth :db #ig/ref :duct.database/datomic}
  :graphql-server.handler.auth/introspect {:auth #ig/ref :graphql-server/auth :db #ig/ref :duct.database/datomic}
  :graphql-server.handler.auth/ws-init-context {:auth #ig/ref :graphql-server/auth :db #ig/ref :duct.database/datomic}
  :graphql-server.handler.cors/preflight {}

  :graphql-server.handler.resolver/get-rikishi {:db #ig/ref :duct.database/datomic}
  :graphql-server.handler.resolver/rikishi-sumobeya {:db #ig/ref :duct.database/datomic}
  :graphql-server.handler.resolver/sumobeya-rikishis {:db #ig/ref :duct.database/datomic}
  :graphql-server.handler.resolver/get-sumobeya {:db #ig/ref :duct.database/datomic}
  :graphql-server.handler.resolver/get-rikishi-by-shikona {:db #ig/ref :duct.database/datomic}
  :graphql-server.handler.resolver/create-rikishi {:db #ig/ref :duct.database/datomic}
  :graphql-server.handler.streamer/stream-torikumis {:db #ig/ref :duct.database/datomic
                                                     :channel #ig/ref :graphql-server/channel}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module/datomic {}
 :duct.module/pedestal {}}
