[^{:lacinia/tag true}
 default

 rikishi
 [^Integer id
  ^String shikona
  ^sumobeya sumobeya
  ^banduke banduke]

 sumobeya
 [^Integer id
  ^String name
  ^{:type rikishi
    :cardinality [0 n]} shozoku-rikishi]

 banduke
 [^class class
  ^{:type Integer
    :optional true} maisu]

 ^{:enum true}
 class
 [YOKODUNA OZEKI SEKIWAKE KOMUSUBI MAEGASHIRA JURYO MAKUSHITA SANDANME JONIDAN JONOKUCHI MAEZUMO]

 basho
 [^Integer id
  ^Integer year
  ^bashomei bashomei]

 ^{:enum true}
 bashomei
 [HATSUBASHO HARUBASHO NATSUBASHO NAGOYABASHO AKIBASHO KYUSHUBASHO]

 torikumi
 [^Integer id
  ^basho basho
  ^Integer hiduke
  ^rikishi higashi
  ^rikishi nishi
  ^rikishi shiroboshi
  ^kimarite kimarite]

 ^{:enum true}
 kimarite
 [TSUKIDASHI TSUKITAOSHI OSHIDASHI OSHITAOSHI YORIKIRI YORITAOSHI ABISETAOSHI UWATENAGE SHITATENAGE KOTENAGE
  SUKUINAGE UWATEDASHINAGE SHITATEDASHINAGE KOSHINAGE KUBINAGE IPPONZEOI NICHONAGE YAGURANAGE KAKENAGE TSUKAMINAGE
  UCHIGAKE SOTOGAKE CHONGAKE KIRIKAESHI KAWAZUGAKE KEKAESHI KETAGURI MITOKOROZEME WATASHIKOMI NIMAIGERI KOMATASUKUI
  SOTOKOMATA OMATA TSUMATORI KOZUMATORI ASHITORI SUSOTORI SUSOHARAI IZORI SHUMOKUZORI KAKEZORI TASUKIZORI SOTOTASUKIZORI
  TSUTAEZORI TSUKIOTOSHI MAKIOTOSHI TOTTARI SAKATOTTARI KATASUKASHI SOTOMUSO UCHIMUSO ZUBUNERI UWATEHINERI SHITATEHINERI
  AMIUCHI SABAORI HARIMANAGE OSAKATE KAINAHINERI GASSHOHINERI TOKKURINAGE KUBIHINERI KOTEHINERI HIKIOTOSHI HIKKAKE
  HATAKIKOMI SOKUBIOTOSHI TSURIDASHI OKURITSURIDASHI TSURIOTOSHI OKURITSURIOTOSHI OKURIDASHI OKURITAOSHI OKURINAGE
  OKURIGAKE OKURIHIKIOTOSHI WARIDASHI UTCHARI KIMEDASHI KIMETAOSHI USHIROMOTARE YOBIMODOSHI ISAMIASHI KOSHIKUDAKE
  TSUKITE TSUKIHIZA FUMIDASHI]

 droid
 [^Integer id
  ^String name
  ^{:type String
    :optional true
    :cardinality [0 n]} primary-functions
  ^{:type episode
    :optional true
    :cardinality [0 n]} appears-in]

 human
 [^Integer id
  ^String name
  ^String home-planet
  ^{:type episode
    :optional true
    :cardinality [0 n]} appears-in]

 ^{:enum true
   :doc "The episodes of the original Star Wars trilogy."}
 episode
 [NEWHOPE EMPIRE JEDI]

 ^:lacinia/query
 QueryRoot
 [^{:type human
    :lacinia/resolve :get-hero} hero [^episode episode]
  ^{:type droid
    :lacinia/resolve :get-droid} droid [^{:type String
                                          :default "2001"} id]]
 ^:lacinia/subscription
 SubscriptionRoot
 [^{:type human
    :lacinia/stream :stream-hero} hero [^String name]]]
