[^{:lacinia/tag true
   :datomic/tag true}
 default

 rikishi
 [^{:type Integer
    :datomic/unique :db.unique/identity} id
  ^String shikona
  ^{:type sumobeya
    :lacinia/resolve :rikishi-sumobeya} sumobeya
  ^String banduke
  ^String syusshinchi]

 sumobeya
 [^{:type Integer
    :datomic/unique :db.unique/identity} id
  ^String name
  ^{:type rikishi
    :cardinality [0 n]
    :datomic/tag false
    :lacinia/resolve :sumobeya-rikishis} rikishis]

 torikumi
 [^{:type Integer
    :datomic/unique :db.unique/identity} id
  ^rikishi higashi
  ^rikishi nishi
  ^rikishi shiroboshi
  ^kimarite kimarite]

 ^{:enum true}
 kimarite
 [TSUKIDASHI TSUKITAOSHI OSHIDASHI OSHITAOSHI YORIKIRI YORITAOSHI ABISETAOSHI UWATENAGE SHITATENAGE KOTENAGE
  SUKUINAGE UWATEDASHINAGE SHITATEDASHINAGE KOSHINAGE KUBINAGE IPPONZEOI NICHONAGE YAGURANAGE KAKENAGE TSUKAMINAGE
  UCHIGAKE SOTOGAKE CHONGAKE KIRIKAESHI KAWAZUGAKE KEKAESHI KETAGURI MITOKOROZEME WATASHIKOMI NIMAIGERI KOMATASUKUI
  SOTOKOMATA OMATA TSUMATORI KOZUMATORI ASHITORI SUSOTORI SUSOHARAI IZORI SHUMOKUZORI KAKEZORI TASUKIZORI SOTOTASUKIZORI
  TSUTAEZORI TSUKIOTOSHI MAKIOTOSHI TOTTARI SAKATOTTARI KATASUKASHI SOTOMUSO UCHIMUSO ZUBUNERI UWATEHINERI SHITATEHINERI
  AMIUCHI SABAORI HARIMANAGE OSAKATE KAINAHINERI GASSHOHINERI TOKKURINAGE KUBIHINERI KOTEHINERI HIKIOTOSHI HIKKAKE
  HATAKIKOMI SOKUBIOTOSHI TSURIDASHI OKURITSURIDASHI TSURIOTOSHI OKURITSURIOTOSHI OKURIDASHI OKURITAOSHI OKURINAGE
  OKURIGAKE OKURIHIKIOTOSHI WARIDASHI UTCHARI KIMEDASHI KIMETAOSHI USHIROMOTARE YOBIMODOSHI ISAMIASHI KOSHIKUDAKE
  TSUKITE TSUKIHIZA FUMIDASHI]

 user
 [^{:type Integer
    :datomic/unique :db.unique/identity} id
  ^{:type String
    :datomic/unique :db.unique/identity} email-address
  ^String password]

 client
 [^{:type String
    :datomic/unique :db.unique/identity} client-id
  ^String client-secret
  ^String client-type
  ^String redirect-uris
  ^String application-name
  ^String application-type]

 ^:lacinia/query
 QueryRoot
 [^{:type sumobeya
    :lacinia/resolve :get-sumobeya} sumobeya [^{:type Integer
                                                :default 1} id]
  ^{:type rikishi
    :lacinia/resolve :get-rikishi} rikishi [^{:type Integer
                                              :default 1} id]
  ^{:type rikishi
    :lacinia/resolve :get-rikishi-by-shikona} rikishi-by-shikona [^{:type String
                                                                    :default "白鵬"} shikona]]
 ^:lacinia/mutation
 MutationRoot
 [^{:type rikishi
    :lacinia/resolve :create-rikishi} create-rikishi [^String shikona
                                                      ^String banduke
                                                      ^String syusshinchi
                                                      ^Integer sumobeya-id]]
 ^:lacinia/subscription
 SubscriptionRoot
 [^{:type torikumi
    :cardinality [0 n]
    :lacinia/stream :stream-torikumis} torikumis [^Integer num]]]
